<h1> All Books </h1>

<% @books.each do |book| %>

<h3><%= book.title %> </h3>
<ul>
<li>Page Count: <%= book.number_of_pages %></li>
<li> Publication Year: <%= book.publication_year%></li>
<li> Authors: <%= book.authors%></li>
</ul>
<% end  %>
